body {
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
    background-size: cover;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#guess-input {
    display: block;
    margin: 0 auto 20px;
    font-size: 1em;
    width: 80%;
    max-width: 250px;
    border: solid 1.5px #fff;
    border-radius: 1rem;
    background: #ccc;
    padding: 1rem;
    color: #000;
}

#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgba(34, 49, 63, 0.8);
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    max-width: 250px;
    text-align: center;
}

#guess-button:hover {
    background-color: rgba(34, 49, 63, 1);
}

button:active {
    transform: scale(0.95);
}

.letter {
    border: 1px solid #ccc;
    font-size: 1.2em;
    padding: 3px;
    margin: 3px;
    min-width: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
}

.row {
    margin-bottom: 10px;
}

.input-area {
    margin: 30px;
}

#grid {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

#intentos {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#reset-button {
    display: none;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgba(34, 49, 63, 0.8);
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    max-width: 250px;
    text-align: center;
}

#reset-button:hover {
    background-color: rgba(34, 49, 63, 1);
}

#guesses {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#msj {
    background-color: rgba(34, 49, 63, 0.5);
    color: #fff;
    padding: 20px;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#contenido.blur {
    filter: blur(8px);
}