body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

#description {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

#guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
}

#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(44, 183, 183, 0.8);
    color: #fff;
    border: none;
    border-radius: 3px;
}

button:active {
    transform: scale(0.95);
}

.letter {
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 3px;
    margin: 3px;
    min-width: 20px;
    text-align: center;
    display: inline-block;
}

.row {
    margin-bottom: 10px;
}

.input-area {
    margin: 30px;
}

#grid {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

#intentos {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
