body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#description {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(34, 49, 63, 0.8);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#guess-button:hover {
    background-color: rgba(34, 49, 63, 1);
}

button:active {
    transform: scale(0.95);
}

.letter {
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 3px;
    margin: 3px;
    min-width: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
}

.row {
    margin-bottom: 10px;
}

.input-area {
    margin: 30px;
}

#grid {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

#intentos {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#reset-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(34, 49, 63, 0.8);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}

#reset-button:hover {
    background-color: rgba(34, 49, 63, 1);
}